autoflake
black
codecarbon
einops
gdown
isort
matplotlib
numpy<2.0.0
kagglehub
pandas
seaborn
scikit-learn
scipy
tqdm
gputil
sdmetrics==0.24.0
sdv
torch==2.9.1
torchvision==0.24.1
torchmetrics
ucimlrepo
paretoset
wandb
xgboost
xlrd
prdc
